# Backend local
VITE_API_BASE_URL=http://192.168.1.7:3000/traffic-control/v1/

# ESP32-CAM
VITE_ESP32_STREAM_URL=http://192.168.1.50/stream
VITE_ESP32_CAPTURE_URL=http://192.168.1.50/jpg


# LAN: cambia 192.168.1.7 por la IPv4 de tu laptop.
# Ejecuta el frontend con npm run dev y abre desde otro dispositivo:
# http://192.168.1.7:5173
